@using CNWeb.Models
@model Receiver

<div class="styles__StyledAddressItem-y17c35-0 hheNUT">
    <p class="name">@Model.name</p>
    <p class="address" title="@Model.address">
        Địa chỉ: @Model.address
    </p>
    <p class="phone">Điện thoại: @Model.phone</p>
    <p class="action">
        <button type="button" class="btn saving-address">
            Giao đến địa chỉ này
        </button><button id="@Model.id" type="button" class="btn edit-address">Sửa</button>
    </p>
</div>